@page
@model VaccinationSystem.Pages.AdminPanel.Doctors.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Doctor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Id" />
            <div class="form-group">
                <label asp-for="Input.FirstName" class="control-label"></label>
                <input asp-for="Input.FirstName" id="firstname-input" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label"></label>
                <input asp-for="Input.LastName" id="lastname-input" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" id="email-input" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <input type="submit" value="Save" id="save-btn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}